.Form-wrap {
    flex: 0 0 70%;
    margin-right: 3rem;
    padding: 2rem;
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

@media (max-width: 600px) {
    .Form-wrap {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.Form-group {
    position: relative;
    margin-bottom: 2rem;
}

.Form-label {
    display: inline-block;
    padding: 0 .4rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--color-purple-m);
    background: var(--color-white);
    position: absolute;
    left: 1.6rem;
    top: -.7rem;
}

.Form-input, .Form-textarea, .Form-select {
    display: block;
    width: 100%;
    padding: 1.1rem 2rem;
    font-size: 1.4rem;
    border: .1rem solid var(--color-purple-m);
    border-radius: .7rem;
}

.Form-textarea{
    resize: none;
    height: 10rem;
    font-size: 1.43rem;
    font-family: inherit;
}

.Form-select {
    background: var(--color-white);
    padding-left: 1.5rem;
}

.Form-input:focus, .Form-textarea:focus, .Form-select:focus {
    outline: none;
}

.Form__error {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--color-red);
}