.Form-thumb {
    position: relative;
    height: 15rem;
    margin-bottom: 2.3rem;
    color: var(--color-coffee-d);
    background: var(--color-coffee-l);
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 90% 40%;
}   

@media (max-width: 425px) {
    .Form-thumb {
        background-size: 60%;
        background-position: 100% -50%;
    }
}

.Thumb__wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.Thumb__head {
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.Thumb__body {
    font-size: 1.4rem;
}