.ImgBanner {
    position: relative;
    height: 15rem;
    margin-bottom: 2.3rem;
    color: var(--color-coffee-d);
    background: var(--color-coffee-l);
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 90% 40%;
}   

@media (max-width: 425px) {
    .ImgBanner {
        background-size: 60%;
        background-position: 100% -50%;
    }
}