.Home {
    flex-grow: 1;
    display: flex;
    min-height: calc(100vh - 8rem);
}

@media (max-width: 1067px) {
    .Home {
        flex-direction: column;
    }
}

.CardBox {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Intro card*/

.IntroCard {
    background: var(--color-white);
    border-radius: var(--border-radius);
    padding: 2.2rem 2rem;
    box-shadow: var(--shadow);
}

@media (max-width: 1067px) {
    .IntroCard {
        margin-bottom: 2rem;
    }
}

.IntroCard__Tag {
    color: var(--color-purple-m);
    background: var(--color-purple-l);
    display: inline-block;
    padding: .3rem .7rem;
    border-radius: .4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.IntroCard__Head {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.IntroCard__Body {
    font-size: 1.25rem;
    color: var(--color-grey);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.IntroCard__List {
    list-style-type: none;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.IntroCard__Item:not(:last-child) {
    margin-bottom: 1.3rem;
}

.IntroCard__Item span {
    margin-right: 1rem;
    color: var(--color-white);
    background: var(--color-green-d);
    padding: .3rem .6rem;
    border-radius: 10rem;
    font-size: 1rem;
}